@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Theme
*/

@layer base {
  :root {
    /*
    Default colors for when user does not provide a css var

    Define colors as  255 115 179 instead of rgb(255 115 179); if want this to work https://tailwindcss.com/docs/text-color#changing-the-opacity
    */

    --color-primary-100: #91fabf;
    --color-primary-200: #87f0b5;
    --color-primary-300: #7de6ab;
    --color-primary-400: #73dca1;
    --color-primary-500: #69d297;
    --color-primary-600: #5fc88d;
    --color-primary-700: #55be83;
    --color-primary-800: #4bb479;
    --color-primary-900: #41aa6f;

    --color-secondary-100: #dfedee;
    --color-secondary-200: #b6dadc;
    --color-secondary-300: #6bc0c7;
    --color-secondary-400: #2f979d;
    --color-secondary-500: #346b6f;
    --color-secondary-600: #31595b;
    --color-secondary-700: #2d4c4f;
    --color-secondary-800: #284142;
    --color-secondary-900: #1f2f30;
  }
}

/*
Custom CSS Reset
- Taken from tailwind preflight
- Scoped to our wc to avoid styling the clients website
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
*/

sm-widget * {
  box-sizing: border-box;
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
*/

sm-widget {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Remove the default font size and weight for headings.
*/

sm-widget h1,
sm-widget h2,
sm-widget h3,
sm-widget h4,
sm-widget h5,
sm-widget h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

sm-widget a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

sm-widget b,
sm-widget strong {
  font-weight: bolder;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sm-widget sub,
sm-widget sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sm-widget sub {
  bottom: -0.25em;
}

sm-widget sup {
  top: -0.5em;
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

sm-widget button,
sm-widget input,
sm-widget optgroup,
sm-widget select,
sm-widget textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

sm-widget button,
sm-widget select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

sm-widget button,
sm-widget [type='button'],
sm-widget [type='reset'],
sm-widget [type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

sm-widget :-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

sm-widget :-moz-ui-invalid {
  box-shadow: none;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

sm-widget ::-webkit-inner-spin-button,
sm-widget ::-webkit-outer-spin-button {
  height: auto;
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

sm-widget ::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

sm-widget ::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Removes the default spacing and border for appropriate elements.
*/

sm-widget blockquote,
sm-widget dl,
sm-widget dd,
sm-widget h1,
sm-widget h2,
sm-widget h3,
sm-widget h4,
sm-widget h5,
sm-widget h6,
sm-widget hr,
sm-widget figure,
sm-widget p,
sm-widget pre {
  margin: 0;
}

sm-widget fieldset {
  margin: 0;
  padding: 0;
}

sm-widget legend {
  padding: 0;
}

sm-widget ol,
sm-widget ul,
sm-widget menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

sm-widget textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

sm-widget input::placeholder,
sm-widget textarea::placeholder {
  opacity: 1; /* 1 */
  color: theme('colors.gray.400', #9ca3af); /* 2 */
}

/*
Set the default cursor for buttons.
Remove border
*/

sm-widget button,
sm-widget [role='button'] {
  cursor: pointer;
  border: none;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
sm-widget :disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

sm-widget img,
sm-widget svg,
sm-widget video,
sm-widget canvas,
sm-widget audio,
sm-widget iframe,
sm-widget embed,
sm-widget object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

sm-widget img,
sm-widget video {
  max-width: 100%;
  height: auto;
}
