<div class="dp-container" [class.connected]="isConnected">
  <div class="video-container">
    <app-video
      #video
      theme="none"
      [token-server]="tokenServer"
      [api-key]="apiKey"
      [auto-connect]="autoConnect"
      (connected)="onConnected()"
      (disconnected)="onDisconnected()"
    ></app-video>

    <div
      *ngIf="profilePicture; else defaultProfilePicture"
      class="profile-picture"
      [class.hidden]="isConnecting"
      [style.backgroundImage]="'url(' + profilePicture + ')'"
      (click)="connect()"
    ></div>
    <ng-template #defaultProfilePicture>
      <div [class.hidden]="isConnecting" (click)="connect()">
        <default-profile-picture class="profile-picture"></default-profile-picture>
      </div>
    </ng-template>
  </div>

  <div class="user-controls" [class.hidden]="!isConnected">
    <button class="close-button" (click)="disconnect()">
      <app-icon name="close"></app-icon>
    </button>
  </div>
</div>

<slot>
  <app-greeting [greeting]="greetingText" [isVisible]="!isConnecting"></app-greeting>
</slot>
