:host {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  sm-video {
    width: 200px;
    height: 200px;
  }

  app-content-cards {
    background: #f96302;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}
