$video-background-color: #dfedee;
$video-border-color: #8cd0f2;

$button-base-color: rgba(255, 255, 255, 0.7);
$button-hover-color: #ffffff;

$inactive-base-color: #ed5645;
$inactive-hover-color: #c43828;

$border-radius: 24px;
$transition: all 200ms ease-out;

:host {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
}

.widget-container {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.video-notification-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.video-player-container {
  width: 140px;
  height: 140px;
  background: $video-background-color;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
}

app-video {
  display: none;
  overflow: hidden;
}

.connect-button {
  all: unset;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: $border-radius;
  overflow: hidden;
  transition: $transition;

  &:hover,
  &:focus {
    border-color: $video-border-color;
  }
}

.user-controls {
  display: none;
  padding: 10px;

  button {
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;
    background: $button-base-color;
    outline: none;

    &:hover,
    &:focus {
      background: $button-hover-color;
    }

    &.inactive {
      background: $inactive-base-color;
      color: white;

      &:hover,
      &:focus {
        background: $inactive-hover-color;
        outline: none;
      }
    }
  }
}

.controls-bottom {
  bottom: 10px;
  left: 10px;
  right: 10px;
  position: absolute;
  display: flex;
  column-gap: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cards {
  width: 100%;
  max-width: 400px;
}

.card {
  width: 100%;
  height: 200px;
}

.connecting,
.connected {
  .video-player-container {
    transition: $transition;
    will-change: width, height;
  }

  .connect-button {
    display: none;
  }

  app-video {
    display: block;
  }
}

.connected {
  .video-player-container {
    border: 2px solid $video-border-color;
    width: 60vw;
    min-width: 250px;
    max-width: 350px;
    min-height: 216px;
    max-height: 50vh;
    aspect-ratio: 16/9;
  }

  app-video {
    border-radius: 26px;
  }

  .user-controls {
    display: block;
  }
}
