$video-background-color: #dfedee;
$video-border-color: #8cd0f2;

$button-base-color: rgba(255, 255, 255, 0.7);
$button-hover-color: #ffffff;

$inactive-base-color: #ed5645;
$inactive-hover-color: #c43828;

$border-radius: 24px;
$transition: all 200ms ease-out;
$font-color: #3d4955;
$neutral60: #455463;

:host {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.widget-container {
  display: flex;
  row-gap: 12px;
  max-height: 100%;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.video-notification-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.video-player-container {
  width: 140px;
  height: 140px;
  background: $video-background-color;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
}

app-video {
  display: none;
  overflow: hidden;
}

.connect-button {
  all: unset;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: $border-radius;
  overflow: hidden;
  transition: $transition;

  &:hover,
  &:focus {
    border-color: $video-border-color;
  }
}

.user-controls {
  display: none;
  padding: 10px;

  button {
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;
    background: $button-base-color;
    outline: none;

    &:hover,
    &:focus {
      background: $button-hover-color;
    }

    &.inactive {
      background: $inactive-base-color;
      color: white;

      &:hover,
      &:focus {
        background: $inactive-hover-color;
        outline: none;
      }
    }
  }
}

.controls-bottom {
  bottom: 10px;
  left: 10px;
  right: 10px;
  position: absolute;
  display: flex;
  column-gap: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cards {
  width: 100%;
  max-width: 292px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  overflow: hidden;
  // Allow spacing around cards so overflow doesnt cut off shadows
  margin: -32px;
  padding: 32px;

  @media (min-width: 768px) {
    max-width: 350px;
  }
}

.card {
  width: 100%;
  max-height: 548px;
  overflow-y: scroll;
  background: white;
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04), 0px 6px 24px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.card-option {
  padding: 4px 0;

  &:first-of-type {
    margin-top: 8px;
  }

  &:last-of-type {
    margin-bottom: 8px;
  }

  .button-outline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.button-outline {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  color: $font-color;
  transition: 0.2s all ease-out;
  padding: 12px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 400;

  &:hover,
  &:focus,
  &:active {
    border-color: $neutral60;
    outline: 1px solid $neutral60;
  }

  &:active {
    color: white;
    background-color: $neutral60;
  }
}

.connecting,
.connected {
  .video-player-container {
    transition: $transition;
    will-change: width, height;
  }

  .connect-button {
    display: none;
  }

  app-video {
    display: block;
  }
}

.connected {
  .video-player-container {
    border: 2px solid $video-border-color;
    width: 60vw;
    min-width: 250px;
    max-width: 350px;
    min-height: 216px;
    max-height: 50vh;
    aspect-ratio: 16/9;
  }

  app-video {
    border-radius: 26px;
  }

  .user-controls {
    display: block;
  }
}
