:host {
  #container {
    display: block;
    border: 2px solid gray;

    width: 100%;
    height: 100%;
  }

  video,
  loading-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  loading-indicator {
    z-index: 10;
  }
}
