:host,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:host {
  position: relative;
  display: block;
  // Fixes a bug in Safari where the video extends the bounds
  transform: translate3d(0, 0, 0);
}

video {
  opacity: 0;
  visibility: hidden;
}

.connecting-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;

  app-spinner {
    display: block;
    max-width: 160px;
    margin: 0 auto;
  }
}

:host(.connected) {
  display: block;

  video {
    visibility: visible;
    opacity: 1;
    transition: opacity 3s ease-out 0.5s;
  }

  .connecting-indicator {
    opacity: 0;
    transition: opacity 0.25s ease-out 0.25s;
  }
}
