:host {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

app-icon {
  color: #a5b5c7;
}
