@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Theme
*/

sm-video {
  /*
    Default colors for when user does not provide a css var
    */

  --color-grayscale-100: #eaeaea;
  --color-grayscale-200: #d3d3d3;
  --color-grayscale-300: #b2b2b2;
  --color-grayscale-400: #898989;
  --color-grayscale-500: #636363;
  --color-grayscale-600: #535252;
  --color-grayscale-700: #484847;
  --color-grayscale-800: #3c3c3c;
  --color-grayscale-900: #2c2c2b;

  --color-primary-100: #e8ebef;
  --color-primary-200: #ccd4dd;
  --color-primary-300: #a5b5c7;
  --color-primary-400: #6e8cad;
  --color-primary-500: #34669b;
  --color-primary-600: #215489;
  --color-primary-700: #234973;
  --color-primary-800: #223e5d;
  --color-primary-900: #1c2d41;

  --color-secondary-100: #dfedee;
  --color-secondary-200: #b6dadc;
  --color-secondary-300: #6bc0c7;
  --color-secondary-400: #2f979d;
  --color-secondary-500: #346b6f;
  --color-secondary-600: #31595b;
  --color-secondary-700: #2d4c4f;
  --color-secondary-800: #284142;
  --color-secondary-900: #1f2f30;

  --color-neutral-100: #e8ebee;
  --color-neutral-200: #cdd3da;
  --color-neutral-300: #a9b4c0;
  --color-neutral-400: #788ca1;
  --color-neutral-500: #52657a;
  --color-neutral-600: #455463;
  --color-neutral-700: #3d4955;
  --color-neutral-800: #343d47;
  --color-neutral-900: #272d33;

  --color-error-100: #f7e7e5;
  --color-error-200: #f4c9c2;
  --color-error-300: #f39d8f;
  --color-error-400: #ed5645;
  --color-error-500: #bd2920;
  --color-error-600: #972c21;
  --color-error-700: #812a20;
  --color-error-800: #69271e;
  --color-error-900: #4a1f19;
}
