@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Theme
*/

sm-video {
  /*
    Default colors for when user does not provide a css var
    */

  --color-gray-lightest: #eaeaea;
  --color-gray-light: #d3d3d3;

  --color-primary-lightest: #e8ebef;
  --color-primary-light: #ccd4dd;
  --color-primary-base: #1e5b98;
  --color-primary-dark: #234973;

  --color-secondary-base: #a3bef5;

  --color-tertiary-base: #ed5645;
  --color-tertiary-dark: #bd2920;

  --color-text-main: #000;
}
