<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Key</title>
  </head>
  <style>
    /* TODO: remove once the sm-video has it's own styling */
    sm-video,
    video {
      display: block;
      width: 100%;
    }
  </style>
  <body>
    <sm-widget api-key="<%= VITE__PROJECT_API_KEY %>" auto-connect="true">
      <p slot="connecting-indicator">Loading...</p>
    </sm-widget>

    <sm-widget api-key="<%= VITE__PROJECT_API_KEY %>" auto-connect="false"></sm-widget>

    <sm-widget api-key="<%= VITE__PROJECT_API_KEY %>"></sm-widget>

    <script type="module" src="/src/web-components/sm-widget.tsx"></script>
  </body>
</html>
