$user-contrast-color: white;

.greeting-container {
  list-style: none;
  padding: 12px 40px 12px 12px;
  border-radius: 4px;
  background-color: $user-contrast-color;
  position: fixed;
  z-index: 9999;
  bottom: 60px;
  right: 240px;
  width: 200px;
  height: 100px;
  overflow: hidden;
  box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.08), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin: 0 1px 10px;
  border: solid 4px transparent;
  transition: border 0.2s, background-color 0.2s;
}
