@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
$background-color: #ffffff;
$font-color: #3d4955;

.greeting-container {
  position: relative;
}

.text-container {
  position: fixed;
  z-index: 9998;
  bottom: 40px;
  right: 180px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;

  background: $background-color;
  border-radius: 12px;
}

p {
  width: 272px;
  height: 56px;
  left: 24px;
  top: 24px;

  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: $font-color;

  order: 0;
  flex-grow: 1;
  margin: 0;
}

button {
  position: fixed;
  z-index: 9999;
  bottom: 100px;
  right: 160px;
  background: none;
  border: none;
}
