$background-color: #ffffff;
$font-color: #3d4955;

.text-container {
  position: fixed;
  z-index: 9999;
  bottom: 40px;
  right: 180px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;

  background: $background-color;
  border-radius: 12px;
}

p {
  position: static;
  width: 272px;
  height: 56px;
  left: 24px;
  top: 24px;

  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

  color: $font-color;

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 0px;
}

button {
  position: fixed;
  z-index: 9999;
  bottom: 110px;
  right: 160px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $background-color;
  border-color: $background-color;
}

