body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(home-depot-background.png);
    background-size: contain;
}

sm-widget {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
