$user-color: blue;
$user-contrast-color: white;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;

  .video-preview {
    width: 100%;
  }

  .play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
  }
}

// couldn't use host because `:hover` on host isn't supported by Angular
::ng-deep {
  app-video-block {
    .play-button-background {
      fill: #212121;
      fill-opacity: 0.8;
    }

    &:hover .play-button-background {
      fill: #f00;
      fill-opacity: 1;
    }
  }
}

// to scale the youtube player better to our content
.video-wrapper {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  order: 2;

  youtube-player,
  .video-preview {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  youtube-player {
    z-index: 2;
    animation: fade-in-player 0.45s linear;
  }

  .video-preview {
    z-index: 1;
  }
}

.modal-container,
.video-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video-overlay {
  content: '';
  opacity: 0.6;
  background-color: black;
  z-index: 21;
  animation: fade-in-overlay 0.45s linear;

  &.closing {
    animation: fade-out-overlay 0.3s linear;
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 22;
  pointer-events: none;
  max-width: 100%;
  margin: 0 auto;
  animation: fade-in-content 0.45s cubic-bezier(0.9, 0, 0.1, 1);

  &.closing {
    animation: fade-out-content 0.3s cubic-bezier(0.9, 0, 0.1, 1);
  }

  > * {
    pointer-events: all;
  }

  .video-info {
    color: $user-contrast-color;
    margin: 0;
    font-weight: normal;
    max-width: 320px;
    margin: 0 auto;
    padding-bottom: 16px;
    text-align: center;
    order: 1;
  }

  .video-button {
    background: rgba(0, 0, 0, 0.4);
    color: $user-contrast-color;
    border: none;
    border-radius: 24px;
    padding: 15px 32px;
    cursor: pointer;
    font-weight: bold;
    order: 3;
    margin-top: 16px;
    font-size: 16px;
    line-height: 18px;

    &:focus {
      outline: none;
    }
  }
}

@keyframes fade-in-player {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes fade-in-content {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  33% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out-content {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes fade-in-overlay {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fade-out-overlay {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
